{% extends "homepage/base.html" %}
{% load static %}
{% block title %}
	Reservation
{% endblock %}

{% block content %}
	<!-- slider end -->
<div id="indoor">
  <div id="indoor-img">
    <h2>indoor dining spaces</h2>
  </div>
  <div id="indoor-spaces">
    <div class="container-fluid">
      <div class="row">
      <div class="col-md-6">
        <div class="pride-img-hover">
            <div class="pride-img">
              <img src="img/fa4534682b1b466d77cf13a4e26164fd.jpg" alt="" class="img-responsive">
              <h2>internal view</h2>
            </div>
            <div class="pride-hover">
              <ul>
                <li>Lorem ipsum dolor.</li>
                <li>Lorem ipsum dolor.</li>
                <li>Lorem ipsum dolor.</li>
                <li>Lorem ipsum dolor.</li>
              </ul>
            </div>
          </div>
      </div>
      <div class="col-md-6">
        <div class="pride-img-hover">
            <div class="pride-img">
              <img src="img/The-White-Rabbit-1.jpg" alt="" class="img-responsive">
              <h2>corporate view</h2>
            </div>
            <div class="pride-hover">
              <ul>
                <li>Lorem ipsum dolor.</li>
                <li>Lorem ipsum dolor.</li>
                <li>Lorem ipsum dolor.</li>
                <li>Lorem ipsum dolor.</li>
              </ul>
            </div>
          </div>
      </div>
    </div>
    </div>
  </div>
</div>
<div id="outdoor">
  <div id="outdoor-img">
    <h2>outdoor dining spaces</h2>
  </div>
  <div id="outdoor-spaces">
    <div class="container-fluid">
      <div class="row">
      <div class="col-md-6">
        <div class="pride-img-hover">
            <div class="pride-img">
              <img src="img/25430-640x360-river-cafe-garden-640.jpg" alt="" class="img-responsive">
              <h2>natural view</h2>
            </div>
            <div class="pride-hover">
              <ul>
                <li>Lorem ipsum dolor.</li>
                <li>Lorem ipsum dolor.</li>
                <li>Lorem ipsum dolor.</li>
                <li>Lorem ipsum dolor.</li>
              </ul>
            </div>
          </div>
      </div>
      <div class="col-md-6">
        <div class="pride-img-hover">
            <div class="pride-img">
              <img src="img/29872-640x360-serpentin-bar-kitchen-640 (1).jpg" alt="" class="img-responsive">
              <h2>river view</h2>
            </div>
            <div class="pride-hover">
              <ul>
                <li>Lorem ipsum dolor.</li>
                <li>Lorem ipsum dolor.</li>
                <li>Lorem ipsum dolor.</li>
                <li>Lorem ipsum dolor.</li>
              </ul>
            </div>
          </div>
      </div>
    </div>
    </div>
  </div>
</div>
{% endblock %}